.content{
    grid-area: c;
    background-color: lightseagreen;
    }
    .item1{
       color: greenyellow; 
    }
    .s_posts{
       padding: 10px;
    }
    .posts{
       margin-top: 10px;
    }